name: Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone project
        uses: actions/checkout@v1

      - name: Install and run Luacheck
        uses: nebularg/actions-luacheck@v1
        with:
          files: 'BlizzHUDTweaks'
          config: 'https://github.com/PhenomDevel/BlizzHUDTweaks/blob/main/.luacheckrc'
          args: "--no-color -q"
          annotate: warning